<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
</head>
<style>
        body { font-family: Arial; background:#fff; }
        form { max-width:600px; margin:10px auto; background:#f2f2f2; padding:20px; }
        input, textarea, select { width:90%; margin:10px 0; padding:10px; }
        button { background:red; color:#fff; padding:10px; border:none; }
    </style>
<body>
    
        <form method="post">
           <h2>Admin Login</h2>
           <p>Username: * <input type="text" name="username" required></p>
           <p>Password: * <input type="password" name="password" required></p>
           <button type="submit">Login</button>
        </form>
    
</body>
</html>
